footer {
    background: linear-gradient(90deg, rgba(17,9,35,1) 0%, rgba(28,18,58,1) 35%, rgba(69,15,63,1) 62%, rgba(120,12,62,1) 90%);
    color: white;
    padding: 5px;
    text-align: center;
    text-shadow: 0 0 7px white,
        0 0 42px $mainPink,
        0 0 82px $mainPink,
        0 0 92px $mainPink,
        0 0 102px $mainPink,
        0 0 151px $mainPink;
}