@media (max-width: 500px) {
    .wrapper{
        width: 100%;
    }

    nav{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;

        ul{
            display: flex;
            flex-direction: column;
            padding: 0;
            a {
                display: flex;
                margin: 0;
                padding: 15px 0;
            }
        }
    }

    header{
        height: auto;
        max-width: 100%;
    }

    .header-photo{
        position: relative;
        width: 100%;
        img {
            position: absolute;
            right: -50px;
            top: -150px;
            max-width: 150px;
            max-height: 150px;
        }
    }

    .header-info{
        width: 100%;
        margin-bottom: 35px;
        line-height: 1.5rem;
        a {
            line-height: 1.5rem;
            
        }
    }

    .about-me{
        height: auto;
        max-width: 100%;
        h2{
            line-height: 2.3rem;
            span {
                display: block;
            }

        }
        p {
            line-height: 1.5rem;
        }
    }

    .my-skills{
        height: auto;
        .icons{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            text-align: center;
        }
    }

    .Portfolio{
        height: auto;
        max-width: 100%;
        padding: 5px;

        .my-portfolio{
            display: flex;
            flex-direction: column;
            align-items: center;
            

            .under-the-sea{
                line-height: 1.5rem;
                width: 100%;
            }

            .movie-plus{
                line-height: 1.5rem;
                width: 100%;
            }

            .slapshot{
                line-height: 1.5rem;
                width: 100%;
            }
        }
    }

    .Contact {
        max-width: 100%;
        height: auto;
        text-align: center;
        line-height: 1.5rem;
        .contact-form{
            input{
                width: 90%;
                margin: 10px;
            }
            textarea {
                margin: 15px;
                width: 90%;
                height: 150px;
            }
            button {
                margin: 20px;
            }
        }
        .contact-icons{
            padding: 15px;
        }
    }
}