nav {
    display: flex;
    justify-content: space-between;
    margin: 0 25px;
    h4 {
        text-shadow: 0 0 7px white,
        0 0 42px $mainPink,
        0 0 82px $mainPink,
        0 0 92px $mainPink,
        0 0 102px $mainPink,
        0 0 151px $mainPink;
        text-transform: uppercase;
    }


    ul {
        display: flex;
        list-style-type: none;
        a {
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            padding: 0 35px;
            text-shadow: 0 0 7px white,
                0 0 42px $mainPink,
                0 0 82px $mainPink,
                0 0 92px $mainPink,
                0 0 102px $mainPink,
                0 0 151px $mainPink;
            &:hover,
            &:focus {text-shadow: 0 0 7px white,
                0 0 10px white,
                0 0 21px white,
                0 0 42px $mainPink,
                0 0 82px $mainPink,
                0 0 92px $mainPink,
                0 0 102px $mainPink,
                0 0 151px $mainPink;}
        }
    }
}