$baseFontSize: 1rem;

$mainPink: #C30342;
$darkPink: #780C3E;
$darker: #240312;
$darkGrey: #1f1e1e;
$purple: #180F32;
$offWhite: #dbdbdb;

$headerFont: "Raleway";

$bodyFont: "Lato";

//#110923
//#1C123A
//#450F3E
//#780C3E